.card__container-lista{
    background: var(--degrade-secudario);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 12px;
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;      
    gap: 10px;
}

.card__lista__itens{   
    width: 40%;
    display: flex;   
    align-items: center;   
    gap: 5px;       
}

.icone--cifrao{
    content: url(../img/cards/cifrao.png);
    width: 2.5em;
}

.icone--pipoca{
    content: url(../img/cards/series.png);
    width: 2.5em;
}

.icone--casa{
    content: url(../img/cards/casa.png);
    width: 2.5em;
}

@media screen and (min-width: 728px){
    .card__container-lista{     
        font-weight: 400;
        font-size: 16px;
        padding: 1.8em;       
    }

    .card__lista__itens{   
        width: 30%;
    }

}

/* desktop */
@media screen and (min-width: 1028px){
    .card__container-lista{
       justify-content: space-evenly;
       font-size: 1.3em;
    }
    
}

