.caixa__footer {
    padding-bottom: 5px;
}

.conteiner__footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('../img/rodape/footer.jpg') center center no-repeat;
    background-size: cover;
    font-family: var(--fonte-principal);
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__primeiro {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    border-top: solid 1px var(--cinza);
    width: 100%;    
    padding-top: 1.5em;
}

.text-light {
    color: var(--branco);
}

.rodape__links {
    display: flex;
    align-items: center;
}

.rodape__titulo1,
.titulo__compre-oline,
.privacidade_titulo {
    font-size: 15px;
    font-weight: 500;
    color: var(--branco);
    margin-bottom: 0.3em;

}

.rodape__lista,
.texto__compre-oline,
.privacidade__texto {
    color: var(--branco);
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    gap: 5px
}

.titulo__compre-oline {
    margin-top: 10px;
}

.privacidade_titulo {
    margin-top: 20px;
}


/* icones e margem entre eles */
/* icones rede social */
.rodape__icone{
    margin-right: 10px;
}
.rodape__icone-insta{
    width: 30px;
}
.rodape__icone-whats{
    width: 40px;
}

.rodape__icone-face{
    width: 30px;
}
.rodape__icone-email{
    width: 40px;
}


/* icones rede não social */
.icone--endereco {
    content: url(../img/rodape/endereço-svg.svg);
    width: 1em;
}

.icone--telefone {
    content: url(../img/rodape/telefone-svg.svg);
    width: 1em;
}

.icone--email {
    content: url(../img/rodape/email-svg.svg);
    width: 1em;
}


/* BAIRROS ATENDIDOS */
.bairros__titulo {
    font-size: 20px;
    font-weight: 500;
    color: var(--verde-secundario);
    margin-bottom: 15px;
    margin-top: 15px;
}


.rodape__bairros {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.bairros__lista {  
    font-size: 10px;
    height: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    gap:10px;
    color: var(--branco)
}

/* alinhamento do copy */
.copyright_text {
    color: var(--branco);
    font-size: 9px;
    margin-top: 30px;
      
}

.amapanet__copy {
    color: var(--verde);
    font-weight: 600;
}



/* TABLET */
@media screen and (min-width: 728px){  

    .caixa__footer {
        padding-bottom: 0;
        padding-left: 0;
      
    }
    .container__primeiro {       
        flex-direction: column;
        align-items: center;
        justify-content: initial;             
        padding-top: 3em;
    }
    .div__cima{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    .rodape__titulo1,
    .titulo__compre-oline,
    .privacidade_titulo {
        font-size: 17px;
    }
    
    .rodape__lista,
    .texto__compre-oline,
    .privacidade__texto {              
        font-size: 15px;
    }
    
    .titulo__compre-oline {
        margin-top: 0;
    }
    
    .privacidade_titulo {
        margin-top: 40px;
    }

    /* BAIRROS ATENDIDOS */
    .bairros__titulo {
        font-size: 19px;
        font-weight: 600;        
        margin-top: 0;
    }

    .compre__oline{
        width: 30%;
        padding: 0 1em;
    }
    
    
    .rodape__bairros {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    
    .bairros__lista {  
        font-size: 13px;
        align-items: center;
        height: 11em;      
        gap:5px;        
      
       
        
    }
    
    /* alinhamento do copy */
    .copyright_text {
        color: var(--branco);
        font-size: 14px;
    }
    
    .amapanet__copy {
        color: var(--verde);
        font-weight: 600;
    }

    body {
       
        padding-bottom: 0px;
    }
}































































/* desktop */
@media screen and (min-width: 1028px){
    .container__primeiro {  
        width: 70%;     
        flex-direction: initial;
        align-items: initial;
        justify-content: space-between;             
        padding: 3em 1.5em 0.5em 1.5em ;
    }

    .conteiner__footer{
        padding-top: 5em;
        padding-bottom: 0;
    }
   

    .titulo__compre-oline {
        margin-top: 0;
    }
    
    .privacidade_titulo {
        margin-top: 40px;
    }

    /* BAIRROS ATENDIDOS */
    .bairros__titulo {
        width: initial;
        font-size: 19px;
        font-weight: 600;        
        margin-top: 0;
    }
    
    
    .rodape__bairros {
        width: initial;       
        flex-direction: column;
        align-items: center;   
    }

 
    
 
    
    .bairros__lista {  
        font-size: 13px;
        padding: 0 0.3em;
        height: 10em;      
        gap:15px;
        
    }
    
    /* alinhamento do copy */
    .copyright_text {
        color: var(--branco);
        font-size: 10px;
        margin: 20em 0 1em 0;
    }
    
    .amapanet__copy {
        color: var(--verde);
        font-weight: 600;
    }

    .caixa__footer {
        padding-bottom: 0px;
    }

    

}
