@font-face {
    font-family: 'Azonix';
    src: url(./fonte/Azonix.otf);
}
:root{
    --degrade-verdeAzul: linear-gradient(97.54deg, #002383 0%, #006F3D 100%);
    --degrade-secudario:linear-gradient(90deg, #049252b2  20%, #0835b3  100%); 
    --degrade-terceiro:linear-gradient(200deg, #002383 35%, #0bb166 100%);  
    --fonte-principal: "Montserrat", sans-serif;
    --fonte-secundaria: 'Azonix', sans-serif;
    /* cores */
    --verde: #006F3D;
    --verde-secundario: #00C693;
    --verde-hover: #039772;
    --verde-terceiro:#67C15E;
    --azul: #002383;
    --azul-claro: #142247;
    --cinza: #656768;
    --branco: #ffffff;
    --black:#2e2e2e;

}

body{
    font-size: 16px;
    font-family:"Montserrat", sans-serif;
}